<div class="col-md-6 col-xs-6">
  <h2>Todos Not Completed</h2>
    <% @todosnotcompleted.each do |todo| %>
    <p class="well"> <%= todo.description %> </p>
    <% end %>
</div>

<div class="col-md-6 col-xs-6">
  <h2>Todos Completed</h2>
    <% @todoscompleted.each do |todo| %>
    <p class="well"> <%= todo.description %> </p>
    <% end %>
</div>
