<div class="container">
  <div class="row">
    <div class="col">
      <table>
        <tr>
          <th>Todos Not Completed </th>
        <tr>

      <% @todos.each do |todo| %>
        <tr>
          <td> <%= todo.description if todo.completed == false%> </td>
        </tr>
      <% end %>
      </table>

    </div>
    <div class="col">
      <table>
        <tr>
          <th>Todos Completed </th>
        <tr>

      <% @todos.each do |todo| %>
        <tr>
          <td> <%= todo.description if todo.completed == true%> </td>
        </tr>
      <% end %>
      </table>

    </div>
  </div>
</div>
