<div class="col-md-6 col-xs-6">
  <table>
    <tr>
      <th>Todos Not Completed </th>
    <tr>
    <% @todosnotcompleted.each do |todo| %>
    <tr class="well">
      <td > <%= todo.description %> </td>
    </tr>
    <% end %>
  </table>
</div>

<div class="col-md-6 col-xs-6">
  <table>
    <tr>
      <th>Todos Completed </th>
    <tr>
      <% @todoscompleted.each do |todo| %>
    <tr class="well">
      <td> <%= todo.description %> </td>
    </tr>
    <% end %>
  </table>
</div>
