<div class="well">

  <div class="col-md-2">
    <p><b>Todo: </b><%= @todo.description %> </p>
  </div>

  <div class="col-md-2">
    <p><b>Completed: </b><%= completed_in_words(@todo) %></p>
  </div>

  <div class="col-md-2">
    <p><b>Created: </b><%= time_ago_in_words @todo.created_at %> ago</p>
  </div>

</div>
