<div class="jumbotron">

  <div class="col-md-2">
    <p><b>Todo: </b><%= @todo.description %> </p>
  </div>

  <div class="col-md-2">
    <p><b>Completed: </b><%= "Yes" if @todo.completed %> <%= "No" if @todo.completed == false %> </p>
  </div>

  <div class="col-md-2">
    <p><b>Created: </b><%= time_ago_in_words @todo.created_at %></p>
  </div>

</div>
